<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img style="border:1px solid black;border-radius:20px 20px;" src="assets/logo.jpg" alt="logo" width="40" height="40">
  <span>Welcome to Ami Profile</span>
    <div class="spacer"></div>
    <a aria-label="back" rel="noopener" href="http://localhost:4200/" title="back">
      <img src="assets/back.png" alt="youtube"/>
    </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <img style="border:1px solid black;border-radius:80px 80px;" src="assets/ami_logo.jpg" alt="logo" width="160" height="160">

  <!-- Resources -->
  <h2>Ami Neko</h2>
  <p>明日は今日である</p>

  <div style="z-index: 2;" class="card-container">
    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/information.png" alt="information">
      <span>Contact information</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/skill.png" alt="skill">
      <span>Skils</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/character.png" alt="character">
      <span>Character</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/education.png" alt="education">
      <span>Education</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/work-exp.png" alt="work-exp">
      <span>Work Experience</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/activity.png" alt="activity">
      <span>Activities</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/award.png" alt="award">
      <span>Honors & Awards</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="{{url}}">
      <img src="assets/profile/certificate.png" alt="certificate">
      <span>Certifications</span>
    </a>

  </div>

  <!-- Next Steps -->
  <h2>Related Information</h2>
  <p>Do you want to know about Ami more?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'contact'" tabindex="0">
      <span>How contact to me</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'hobby'" tabindex="0">
      <span>Hobby</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'create'" tabindex="0">
      <span>How create a blog</span>
    </button>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>Please PM to me!</pre>
      <pre *ngSwitchCase="'hobby'">Do you like me - really?</pre>
      <pre *ngSwitchCase="'create'">Please ask to me!</pre>
  </div>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Facebook" href="https://www.facebook.com/ami.nekomi.18" target="_blank" rel="noopener">
      <img style="border-radius:24px 24px;" src="assets/fb.svg" alt="fb"/>
    </a>

    <a class="circle-link" title="Youtube" href="https://www.youtube.com/channel/UCbRPZPfeN3nm0QSpQAsXysg" target="_blank" rel="noopener">
      <img style="border-radius:24px 24px;" src="assets/yt.svg" alt="yt"/>
    </a>
  </div>

  <!-- Footer -->
  <footer style="z-index:2">
      Please love me?&nbsp;
      <a href="" target="_blank" rel="noopener">
        <div class="github-star-badge">
          ❤Love Ami
        </div>
      </a>
  </footer>

</div>
